
<div id="main-content" style="margin: 20px auto; text-align: center;">
  
  <h1>Sinatra Memory Usage Example</h1>
  
  
  <p class="memory">Current memory usage is [ <strong><%= show_memory_usage %></strong> ].</h2>
  
  
  <p>Refresh your browser <br>
    &mdash; <kbd>Cmd + r</kbd> (Mac) or <kbd>F5</kbd> (Windows)  &mdash; <br>
    quickly <strong>20 times and more</strong> and you'll see the memory usage creeping upwards very quickly.
  </p>
  
  
  <style type="text/css" media="screen">
    p.memory { font-size: 200%; }
    p.memory strong { color: red; }
  </style>
  
</div>
  
  