<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="Content-Language" content="en-us">
    <title>Sinatra || MemoryApp</title>
    
    <meta name="author" content="kematzy">
    <meta name="description" content="Just a simple Memory usage test">
    <meta name="keywords" content="memory, memory usage, sinatra, ruby">
    <meta name="Copyright" content="(c) 2010 Copyright content: kematzy.com; Copyright design: kematzy.com">
    <!-- (c) 2010 Copyright content: kematzy.com; Copyright design: kematzy.com All Rights Reserved. -->
    
    <!-- <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" title="" charset="utf-8"> -->
    
  </head>
  
  <body>
    
    <div class="container showgrid">
      
      <%= yield %>
      
    </div>
    
  </body>
</html>